.project_details {
    padding: 2em;
}
.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: 0.5em;
}

.project_details h1{
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
}
.project_details span {
    font-weight: bold;
}
.details_container,
.service_form_container {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: .5s;
    max-height: 40px;
    border: none;
}
.btn:hover {
    color: #ffbb33;
}
.project_info {
    width: 100%;
}
.danger {
    background-color: #fd5151;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    border-radius: 2em;
    width: 25%;
}
.success {
    background-color: #82ff82;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    border-radius: 2em;
    width: 25%;
}